body
{
background-color: #;
background-image: url("logo.jpg");
background-position-y: bottom;
background-position-x: right;
background-repeat: no-repeat;
}
h1
{
font-size: 75px;
margin-top:2px;
}
h2
{
font-size: 45px;
}
ul,li{
 display:block;
 text-decoration: none;
 font-size:30px;
 float:left;
}
 ul li a, ul li a:visited{
 display:block;
 text-decoration: none;
 margin: 4px;
width: 100px;
}
ul, li{
 list-style:none;
 margin:4px;
 padding:3px;
 color:red;
 text-style: bold;
 
}
ul li a:hover{
 text-decoration:none;
 background-color: #8dc9f7;
}

.kontakt
{
 display:block;
 text-decoration:none;
 font-size:20px;
}

table.tablica
{
  font-size: 20px;
  width: 40%;
  height: 20%;
  cellpadding: 8;
  cellspacing: 0;
}
img.slika1
{
  position:absolute;
  top:60px;
  right:120px;
  width:690px;
  height:843px;
}
p.tekst
{
  border-style:solid; 
  border-color:black;
  text-align:centar;
  width: 40%;
}
img.slika3
{
  position:absolute;
  top:60px;
  right:120px;
  width: 311px;
  height: 608px
}
img.slika4
{
  position:absolute;
  top:60px;
  right:120px;
  width:719px;
  height:955px;
}
img.slika5
{
  position:absolute;
  top:60px;
  right:120px;
  width: 497px;
}
body{
  margin:0;
  height:100px;
  display:grid;
}

:root{
  --width: 100%;
  --height: 100%;
  --border-width: 200px;
  --border-height: 200px;

}

html,body{
  height:100%;
  width:100%;
  position:relative;
  overflow:hidden;
}

.gallery{
  position:relative;
  height:100%;
  width:100%;
}
.gallery:after{
  content:'';
}
.shadow{
  position: absolute;
  top: 500px;
  left: 100px;
  width: 500px;
  height: 40px;
  border-radius: 50%;
}
img{
  width:var(--width);
  height:var(--height);
}
.clipped-border{
   padding:5px;
   width:var(--border-width);
   height:var(--border-height);
   max-height:250px;
   max-width:250px;
   height: var(--height);
   width:var(--width);
   transition:transform 0.2s;
   position:absolute;
   cursor:pointer;
}
.clipped-border:hover:before{
  transform: translate(-100px,400%) rotate(45deg);
  transition:transform 0.5s;
}
.clipped-border:nth-child(2){
  top:0px;
  left:290px;
}
.clipped-border:nth-child(3){
  top:0px;
  left:580px;
}
.clipped-border:nth-child(4){
  top:200px;
  left:0px;
}
.clipped-border:nth-child(5){
  top:200px;
  left:290px;
}
.clipped-border:nth-child(6){
  top:0px;
  left:870px;
}
.clipped-border:nth-child(7){
  top:200px;
  left:580px;
}
.clipped-border:nth-child(8){
  top:0px;
  left:1169px;
}
.clipped-border:nth-child(9){
  top:200px;
  left:870px;
}
.clipped-border:nth-child(10){
  top:200px;
  left:1160px;
}
.clipped-border:nth-child(11){
  top:400px;
  left:0px;
}
.clipped-border:nth-child(12){
  top:400px;
  left:290px;
}
.clipped-border:nth-child(13){
  top:400px;
  left:580px;
}
.clipped-border:nth-child(14){
  top:400px;
  left:870px;
}
.clipped-border:nth-child(15){
  top:400px;
  left:1160px;
}
.clipped-border:hover{
  transform:scale(1.2);
  transition:transform 0.2s;
  z-index:10;
}
}
