body
h1
{
font-size: 90px
margin-top:2px;
}
table.tablica1
{
  valign: centar;
  font-size: 30px;
  width: 50%;
  height: 30%;
  cellpadding: 8;
  cellspacing: 0;
}
img.slika1
{
  position:absolute;
  top:10px;
  right:10px;
}


