body
h1
{
font-size: 90px
margin-top:2px;
}
 
table.tablica
{
  font-size: 20px;
  width: 40%;
  height: 20%;
  cellpadding: 8;
  cellspacing: 0;
}
img.slika1
{
  position:absolute;
  top:60px;
  right:120px;
  width:690;
  height:843;
}
p.tekst
{
  border-style:solid; 
  border-color:black;
  text-align:centar;
  width: 40%;
}
img.slika3
{
  position:absolute;
  top:60px;
  right:120px;
}
img.slika4
{
  position:absolute;
  top:60px;
  right:120px;
  width:719;
  height:955;
}
img.slika5
{
  position:absolute;
  top:60px;
  right:120px;
}
body{
  margin:0;
  height:100vh;
  display:grid;
}
/*https://codepen.io/sparshgupta007/pen/gOeypaj*/
:root{
  --width: 100%;
  --height: 100%;
  --border-width: 200px;
  --border-height: 200px;

}

.galerija{
  background:radial-gradient(mistyrose,pink);
  height:100%;
  width:100%;
  position:relative;
  overflow:hidden;
}

.gallerija{
  position:relative;
  height:100%;
  width:100%;
}

.gallerija:after{
  content:'';
}
  height: 40px;
  border-radius: 50%;
}
.clipped-border{
   padding:5px;
   background:linear-gradient(grey,lightgrey);
   max-height:250px;
   max-width:250px;
   transition:transform 0.2s;
   position:absolute;
   cursor:pointer;
}
.clipped-border:before{
  content:'';
  position:absolute;
  opacity:0.5;
  width:350px;
  height:70px;
  background:white;
  top:0;
  left:0;
  z-index:1;
  transform:rotate(45deg);
  transition:transform 0.5s;
}

.clipped-border:hover:before{
  transform: translate(-100px,400%) rotate(45deg);
  transition:transform 0.5s;
}

.clipped-border:nth-child(2){
  top:196px;
  left:118px;
}

.clipped-border:nth-child(3){
  top:0;
  left:235px;
}

.clipped-border:nth-child(4){
  top:196px;
  left:353px;
}

.clipped-border:nth-child(5){
  top:0;
  left:470px;
}
.clipped-border:hover{
  transform:scale(1.2);
  transition:transform 0.2s;
  z-index:10;
}
@media screen and (max-width:500px){
  .clipped-border{
    width:100px;
    height:100px;
  }
  .clipped-border:nth-child(2){
    top:0;
    left:100px;
  }
  .clipped-border:nth-child(3){
    left:200px;
  }
  .clipped-border:nth-child(4){
    top:82px;
    left:50px;
  }
  .clipped-border:nth-child(5){
    top:82px;
    left:150px;
  }
}
